body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header,
section.content,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	border-bottom: 1px solid #e5e5e5;
}

.header h1 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.footer {
	padding-top: 19px;
	color: #aaa;
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
	text-align: center;
}

section.content {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	section.content,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}

	section.content {
		padding-top: 30px;
		padding-bottom: 30px;
	}

}

.table td > a {
	display: block;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
}